<template>
  <section class="legend">
    <div class="legend-row" v-for="shift in shifts" v-bind:key="shift.type">
      <div class="legend-color-box" v-bind:style="{background: colors[shift.type]}"></div>
      {{ shift.display }}
    </div>
  </section>
</template>

<script>

import { shiftColors, shiftTypes } from '../store/models'

export default {
  name: 'CalendarLegend',
  data: () => ({
    colors: shiftColors,
    shifts: shiftTypes
  })
}
</script>

<style scoped>
  .legend {
    display: flex;
    flex-flow: row wrap;
  }
  .legend-row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    padding: 8px;
  }
  .legend-color-box {
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }

  @media screen and (min-width: 576px) {
    .legend {
      flex-flow: row nowrap;
    }
  }
</style>
