<template>
  <div class="calendar">
    <div class="calendar__row" v-bind:key="index" v-for="(week, index) in calendar">
      <div
        v-for="(day, dayIndex) in week"
        v-bind:key="dayIndex"
        class="calendar__cell calendar__day"
        v-bind:style="{
          background: hexToRgbA(shiftColors[day.shift.type], day.isCurrentMonth ? 1 : 0.2),
        }"
        v-bind:title="day.shift.display"
      >
        {{ day.date.date() }}
      </div>
    </div>
  </div>
</template>

<script>
import { generateCalendarData, createMonthArrayData, moment } from '../utils/calendar';

import {
  calculateShift,
  fillCalendarDates,
  getDaysDifference,
} from '../utils/shift-calculator'
import { hexToRgbA } from '../utils/common'
import { shiftColors, shiftTypes } from '../store/models'

export default {
  name: 'CalendarMonth',
  props: ['date', 'shift', 'shiftDate'],
  data: () => ({
    shiftColors: shiftColors
  }),
  computed: {
    calendar () {
      const calendar = createMonthArrayData(this.$props.date);
      const firstDateInCalendar = calendar[0][0].date;
      const todayShift = this.$props.shift;
      const daysDifference = getDaysDifference(firstDateInCalendar, this.$props.shiftDate);
      const firstMonthShift = calculateShift(todayShift, daysDifference);

      return fillCalendarDates(calendar, firstMonthShift);
    }
  },
  methods: {
    hexToRgbA: hexToRgbA
  }
}
</script>

<style lang="scss">
  @import "../assets/calendar.scss";
</style>
