<template>
  <section class="calendar__row calendar__weekdays">
    <div class="calendar__cell" v-for="weekday in weekdays" v-bind:key="weekday">
      <span>{{ weekday }}</span>
    </div>
  </section>
</template>

<script>

import { getWeekdays } from '../utils/calendar'

export default {
  name: 'CalendarWeeksRow',
  computed: {
    weekdays () { return getWeekdays(this.$store.state.locale) }
  }
}
</script>

<style scoped lang="scss">
  .calendar__weekdays {
    height: 30px;
    margin: 15px 0 8px;
  }
</style>
