<template>
  <section class="wrapper">
    <div class="calendar-wrapper">
      <ShiftSelector
        v-bind:selectedShift="selectedShift"
        v-bind:shifts="shifts"
        v-on:onChange="onShiftChange"
      />
      <CalendarMonthSelector v-bind:date="selectedCalendarDate" v-on:date-change="onCalendarDateChange"/>
      <CalendarWeeksRow />
      <CalendarMonth v-bind:date="selectedCalendarDate" v-bind:shift="selectedShift" v-bind:shiftDate="shiftDate"/>
    </div>
    <CalendarLegend />
  </section>
</template>

<script>
import CalendarWeeksRow from './CalendarWeeksRow'
import CalendarMonthSelector from './CalendarDateSelector'
import CalendarMonth from './CalendarMonth'
import { moment } from '../utils/calendar';
import CalendarLegend from './CalendarLegend'
import { Actions, DATE_FORMAT } from '../store/models'
import ShiftSelector from './ShiftSelector'

export default {
  name: 'Calendar',
  components: { ShiftSelector, CalendarLegend, CalendarMonth, CalendarWeeksRow, CalendarMonthSelector },
  computed: ({
    selectedCalendarDate () {
      return this.$store.state.calendarDate;
    },
    selectedShift () {
      return this.$store.state.selectedShift;
    },
    shiftDate () {
      return this.$store.state.shiftDate;
    },
    shifts () {
      return this.$store.state.shifts;
    }
  }),
  beforeCreate () {
    moment.locale(this.$store.state.locale);
  },
  methods: {
    onCalendarDateChange ({ month, year }) {
      this.$store.dispatch(Actions.selectCalendarDate, moment().month(month).year(year));
    },
    onShiftChange (shift) {
      this.$store.dispatch(Actions.selectShift, shift);
    }
  }
}
</script>

<style scoped>
.wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}

.calendar-wrapper {
  margin-bottom: 15px;
}

@media screen and (min-width: 576px) {
  .wrapper {
    padding: 15px;
  }
}
</style>
