<template>
  <div class="calendar__date-selector">
    <div class="calendar__date-selector__month">
      <button class="calendar__date-selector__btn" v-on:click="prev">Назад</button>
      <span class="calendar__date-selector__title">{{ months[currentMonth] }}</span>
      <button class="calendar__date-selector__btn" v-on:click="next">Вперед</button>
    </div>
    <div class="calendar__date-selector__year">
      <label for="year">Рік:</label>
      <select id="year" v-on:change="selectYear">
        <option v-for="year in years" v-bind:key="year" v-bind:value="year" v-bind:selected="year === currentYear">{{ year }}</option>
      </select>
    </div>
  </div>
</template>

<script>
import { getYearRange, moment } from '../utils/calendar'

export default {
  name: 'CalendarMonthSelector',
  props: ['date'],
  data: function () {
    const months = moment.months();
    const years = getYearRange();
    const today = moment();

    return ({
      months: months,
      years: years,
      currentMonth: this.$props.date.month(),
      currentYear: this.$props.date.year()
    })
  },
  watch: {
    currentMonth () {
      this.$emit('date-change', {
        month: this.$data.currentMonth,
        year: this.$data.currentYear
      });
    },
    currentYear () {
      this.$emit('date-change', {
        month: this.$data.currentMonth,
        year: this.$data.currentYear
      });
    }
  },
  methods: {
    prev () {
      const index = this.$data.currentMonth - 1;

      if (index < 0) {
        this.$data.currentYear -= 1;
        this.$data.currentMonth = this.$data.months.length - 1;
      } else {
        this.$data.currentMonth = index;
      }
    },
    next () {
      const index = this.$data.currentMonth + 1;

      if (index >= this.$data.months.length) {
        this.$data.currentMonth = 0;
        this.$data.currentYear += 1;
      } else {
        this.$data.currentMonth = index;
      }
    },
    selectYear (e) {
      this.$data.currentYear = e.target.value;
    }
  }
}
</script>

<style scoped>

  .calendar__date-selector__month {
    margin-bottom: 8px;
  }

  .calendar__date-selector__title {
    padding: 8px 15px;
    text-transform: capitalize;
    display: inline-block;
  }

  .calendar__date-selector__btn {
    border: 1px solid #eedfcb;
    border-radius: 5px;
    background: antiquewhite;
    padding: 8px 15px;
  }

  .calendar__date-selector {
    display: flex;
    flex-flow: column;
  }

</style>
