<template>
  <section class="shift-selector">
    <label class="shift-selector__label" for="shift-selector">Зміна</label>
    <select id="shift-selector" v-on:change="onShiftSelect">
      <option
        v-for="shift in shifts"
        v-bind:key="shift.type"
        v-bind:selected="shift.type === selectedShift.type"
        v-bind:value="shift.type"
      >
        {{shift.display}}
      </option>
    </select>
  </section>
</template>

<script>
import { shiftTypes } from '../store/models'

export default {
  name: 'ShiftSelector',
  props: ['selectedShift', 'shifts'],
  methods: {
    onShiftSelect (e) {
      const shift = this.$props.shifts.find(s => s.type === e.target.value);

      this.$emit('onChange', shift);
    }
  }
}
</script>

<style scoped>
.shift-selector {
  width: 100%;
  margin-bottom: 8px;
  text-align: center;
}
.shift-selector__label {
  margin-right: 5px;
}
</style>
