.calendar {
  $side: 300px;

  width: $side;

  &__row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    height: calc(#{$side} / 7);
  }

  &__row &__cell {
    width: calc(#{$side} / 7);
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  &__row &__cell#{&}__day {
    box-sizing: border-box;
    border: 3px solid transparent;
    cursor: pointer;
  }

  &__row &__cell#{&}__day:hover {
    border: 3px solid #384b44;
  }

  @media screen and (min-width: 576px) {

    width: 500px;

    &__row {
      height: calc(500px / 7);
    }
    &__row &__cell {
      width: calc(500px / 7);
    }
  }
}
