<template>
  <div id="app">
    <Calendar></Calendar>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Calendar from './components/Calendar.vue';

export default Vue.extend({
  name: 'app',
  components: { Calendar }
})
</script>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
